In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [4]:
# Her ülkenin minimum aşı sayısını hesapla
min_values = df.groupby('country')['daily_vaccinations'].min()

# Boş değerleri minimum değerle doldur
df['daily_vaccinations'].fillna(df['country'].map(min_values), inplace=True)

In [8]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [9]:
kuwait_data = df[df["country"]=="Kuwait"]
kuwait_data

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 0.0  Pfizer/BioNTech

In [10]:
df['daily_vaccinations'].fillna(0, inplace=True)

In [11]:
kuwait_data

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 0.0  Pfizer/BioNTech